<link rel="stylesheet" href="assets/css/room.styling.css">

<div class="container main-content">
		<div class="col-md-8">
			<div class="videosPanel">
				<div id="remotes"></div>
				<video id="localVideo"></video>
			</div>
		</div>
			
		<div class="col-md-4 chatPanel">

			<div class="row top_menu">
				<div class="title">{{room.roomId}} Chatroom</div>
			</div>

			<div class="row" id="chatMessagesWindow">
				<ul id="messages">
				</ul>

				
			</div>
			<div class="row" id="newChatMessageWindow">
				<div class="col-md-8">
					<textarea class="message_input" placeholder="Type your message here..." ng-model="room.newMessage" my-enter="room.sendMessage()"></textarea>
				</div>
				<div class="col-md-4">
					<a class="btn btn-primary btn-block round" role="button" ng-click="room.sendMessage()">Send</a>
				</div>
			</div>
		</div>
	</div>