<link rel="stylesheet" href="assets/css/room.styling.css">

<div class="container main-content">

			<div id="videos-panel">
				<div id="selected-video-container">
					<canvas id="selectedVideo"></canvas>
				</div>
				<div id="videos-row">
					<div id="remotes"></div>
					<div id="local-video">
						<video id="localVideo"></video>
					</div>
				</div>
			</div>

		<!-- <div class="chatPanel">

			<div class="top_menu">
				<div class="title">{{room.roomName}} Chatroom</div>
			</div>

			<div id="chatMessagesWindow">
				<ul id="messages">
				</ul>
			</div>

			<div id="newChatMessageWindow">
				<div>
					<textarea class="message_input" placeholder="Type your message here..." ng-model="room.newMessage" my-enter="room.sendMessage()"></textarea>
				</div>
				<div>
					<a class="btn btn-primary btn-block round" role="button" ng-click="room.sendMessage()">Send</a>
				</div>
			</div>
		</div> -->
	</div>
