<link rel="stylesheet" href="assets/css/room.styling.css">

<div class="container main-content">

			<div id="videos-panel">
				<div id="selected-video"></div>
				<div id="videos-row">
					<div id="remotes"></div>
					<div id="local-video">
						<video id="localVideo"></video>
					</div>
				</div>
			</div>




		<div class="col-md-4 chatPanel">

			<div class="row top_menu">
				<div class="title">{{room.roomName}} Chatroom</div>
			</div>

			<div class="row" id="chatMessagesWindow">
				<ul id="messages">
				</ul>
			</div>

			<div class="row" id="newChatMessageWindow">
				<div class="col-md-8">
					<textarea class="message_input" placeholder="Type your message here..." ng-model="room.newMessage" my-enter="room.sendMessage()"></textarea>
				</div>
				<div class="col-md-4">
					<a class="btn btn-primary btn-block round" role="button" ng-click="room.sendMessage()">Send</a>
				</div>
			</div>
		</div>
	</div>
