.navbar {
		background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/bg1.png");
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		border-radius: 0;
}


.main-content {
	font-family: "Calibri", "Roboto", sans-serif;
	padding: 0;
	width: 100%;
	height: 100%;
}

#videos-panel {
  margin: 0;
	height: 100%;
	width: 100%;
	background-color: #f8f8f8;
  padding: 0px;

}

#selected-video-container {

	width: 100%;
	height: 75%;
	text-align: center;
}

canvas {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1);
	filter: FlipH;
	height: 100%;
	width: 80%;
	margin: 0 auto;
}

#videos-row{
	text-align: center;
	width: 100%;
	height: 25%;
	border-top:1px solid gray ;
	padding: 0;
}


#remotes {
	margin: 0;
	display: inline-block;
  height: 100%;
}

#remotes video {
	height: 100%;
	width: 250px;

}

#local-video {
	display: inline-block;
	height: 100%;
  width: 250px;
	margin: 0;
}

/*simpleWebRTC div video container */
.videoContainer {
	display: inline-block;
	height: 100%;
}

#local-video video {

	width: 250px;
	object-fit: contain;
	height: 100%;
}
/*
.chatPanel {
	float: right;
	height: 100%;
	width: 20%;
	border: 1px solid black;


}

.top_menu {

 	height:10%;
 	box-shadow: 30px 1px 30px rgba(0, 0, 0, 0.5);
	border: 1px solid black;
}

.top_menu .title {
	padding: 5px;
  text-align: center;
  color: #000;
  font-family: 'Baloo', cursive;
  font-size: 25px;
}

#chatMessagesWindow {
	border: 1px solid black;
	height: 80%;
  border: 1px;
}

#newChatMessageWindow {
	border: 1px solid black;
	height:10%;
	margin-top: 10px;
	bottom: 10px;
	margin-bottom: 0px;
	padding: 5px 0 20px;
}

.message_input {
	border: none;
	box-sizing: border-box;
	outline-width: 0;
  color: #000;
  font-weight: 2px;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  font-family: 'Roboto Mono', monospace;
}

.message_input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    gray;
}
.message_input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    gray;
   opacity:  1;
}
.message_input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    gray;
   opacity:  1;
}
.message_input::-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    gray;
}

#messages {

  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 65vh;
  max-width: 100%;
  overflow: scroll;
}

#messages li {
font-family: 'Roboto Mono', monospace;
font-size: 15px;
padding: 2%;
margin: 10px 5%;
border-radius: 10px;
color:#FFF;
word-wrap: break-word;
}

#messages li.self{
  text-align: right;
  background-color: #1a8cff;
}

#messages li.others{
  text-align: left;
  background-color: #ff4d88;
}*/
