.navbar {
		background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/bg1.png");
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		border-radius: 0;
}


.main-content {
	font-family: "Calibri", "Roboto", sans-serif;
	padding: 0;
	width: 100%;
	height: 100%;
}

#videos-panel {
	position: relative;
  margin: 0 auto;
	height: 100%;
	width: 100%;
	background-color: #f8f8f8;
  padding: 0px;
	border: 1px solid black;

}

#selected-video-container {

	width: 100%;
	height: 75%;
	border: 1px solid blue;
	text-align: center;
}

canvas {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1);
	filter: FlipH;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

#videos-row{
	text-align: center;
	width: 100%;
	height: 25%;
	border:1px solid red;
	padding: 0;
}

#remotes {
	margin: 0;
	display: inline-block;
  height: 100%;
}

#remotes video {
	height: 100%;
	width: 200px;
}

#local-video {
	display: inline-block;
	height: 100%;
  width: 200px;
	margin: 0;
}

/*simpleWebRTC div video container */
.videoContainer {
	display: inline-block;
}

#local-video video {

	width: 200px;
}

.chatPanel {
	display: none;

	border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

}

.top_menu {

	border-radius: 10px;
 	height: 8vh;
  padding: 20px 0 15px;
 	box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.top_menu .title {
  text-align: center;
  color: #FFF;
  font-family: 'Baloo', cursive;
  font-size: 25px;
}

#chatMessagesWindow {
	height: 65vh;
  background-color: hsla(0,0%,100%,.7);
  border: 1px;
}

#newChatMessageWindow {
	margin-top: 10px;
	bottom: 10px;
	margin-bottom: 0px;
	padding: 5px 0 15px;
}

.message_input {
	border: none;
	box-sizing: border-box;
	outline-width: 0;
  background-color: hsla(0,0%,100%,.5);
  color: #000;
  font-weight: 2px;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  font-family: 'Roboto Mono', monospace;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    gray;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    gray;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    gray;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    gray;
}

#messages {

  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 65vh;
  max-width: 100%;
  overflow: scroll;
}

#messages li {
font-family: 'Roboto Mono', monospace;
font-size: 15px;
padding: 2%;
margin: 10px 5%;
border-radius: 10px;
color:#FFF;
word-wrap: break-word;
}

#messages li.self{
  text-align: right;
  background-color: #1a8cff;
}

#messages li.others{
  text-align: left;
  background-color: #ff4d88;
}

@media (max-width: 970px) {

  .chatPanel {
  	display: none;
  }


}


@media (max-width: 320px) {
  .chatPanel {
  	display: none;
  }

  #remotesVideos{
	border-radius: 10px;
	width: 100%;
	height: 50%;
}

#remotesVideos video{
	border-radius: 10px;
	width: 100vh;
	height: 100vh;
}


  #localVideo {
  	border-radius: 10px;
    height: 50%;
  	position: relative;
  	width: 100%;
  }

  video#localVideo {
  	border-radius: 10px;

  }


}
