

.main-content {
	height: 100%;
	font-family: "Calibri", "Roboto", sans-serif;
	padding: 0;
}

.videosPanel {
	position: relative;
  display: block;
  margin: 0 auto;
	height: 84vh;
	background-color: #f8f8f8;
  padding: 0px;
	
}

#remoteVideos {
  height: 100%;
}

#remotesVideos video{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 0px;
  bottom: 0px;
  margin-bottom: 0;
}

#localVideo {
	border-radius: 10px;
    position: absolute;
    bottom:0px;
    right: 0px;
    width: 200px;
}

.chatPanel, .videosPanel {
	border-radius: 10px;
  	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);

}

.top_menu {
	border-radius: 10px;
 	background-color: #fff;
 	height: 8vh;
    padding: 20px 0 15px;
 	box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.top_menu .title {
  text-align: center;
  color: #bcbdc0;
  font-size: 20px;
}

#chatMessagesWindow {
	height: 65vh;
	background-color: #f8f8f8;
}

#newChatMessageWindow {
	margin-top: 10px;
	bottom: 10px;
	margin-bottom: 0px;
	padding: 5px 0 15px;
}

.message_input {
	border: none;
	box-sizing: border-box;
	outline-width: 0;
  	color: gray;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}


#messages { 
	list-style-type: none; margin: 0; padding: 0; 
}

#messages li {
 padding: 5px 10px; 
}

#messages li.self{
 text-align: right; 
 color:Blue;
}


@media (max-width: 970px) {


  .chatPanel {
  	display: none;
  }


}



@media (max-width: 320px) {
  .chatPanel {
  	display: none;
  }

  #remotesVideos{
	border-radius: 10px;
	width: 100%;
	height: 50%;
}

#remotesVideos video{
	border-radius: 10px;
	width: 100vh;
	height: 100vh;
}


  #localVideo {
  	border-radius: 10px;
    height: 50%;
  	position: relative;
  	width: 100%;
  }

  video#localVideo {
  	border-radius: 10px;
   
  }


}



